body{
    background-color: rgb(33,33,33);
    min-width: 100vh;
    min-height: 100vh;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0%), rgba(0,0,0,0%), rgba(33, 33, 33, 0.3), rgb(54, 54, 54)), url('https://images.unsplash.com/photo-1501785888041-af3ef285b470?auto=format&fit=crop&w=1500&q=80') center/cover no-repeat;
    height: 90vh;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.45);
}

.hero-content {
    position: relative;
    z-index: 2;
}

h2 {
    color: white;
    letter-spacing: 0.5px;
}

.navbar-nav .nav-link {
    position: relative;
    color: #fff;
    padding-bottom: 5px;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;                 
    width: 0;
    height: 2px;
    background-color: #85d713;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.card{
    background: rgb(33,33,33);
}

.card-img-top {
    height: 35vh;
    object-fit: cover;
}

.card-body {
    background: #252424;
    color: white;
}

.category-box {
    transition: 0.3s;
    cursor: pointer;
    color: rgb(136, 128, 13);
    box-shadow: 5px 5px 15px black;
    background-color: #252424;
}
.category-box:hover {
    transform: translateY(-5px);
    background-color: #191a19;
}

footer {
    background: #1b1b1b;
    color: #ccc;
    padding: 40px 0;
}