body{
    width: 100%;
    height: 100%;
    background-image: url(img/bg-style.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    color: white;
    font-family: 'Inter';
}

.conlog {
    height: 100vh;
    width: 85vh;
    position: flexible;
    display: flex;
    flex-direction: column;
    justify-self: right;
    background-color: rgba(4, 4, 4, 60%);
    backdrop-filter: blur(7px);
    padding-left: 15vh;
    padding-top: 3%;
}

form {
    display: flex;
    flex-direction: column;
    transform: translate(0, 15vh);
}

.conlog p {
    color: white;
    font-size: xx-large;
}

label {
    color: rgb(159, 151, 151);
    text-shadow: 2px 2px 2px rgb(42, 41, 41);
}

input, select {
    background-color: rgba(4, 4, 4, 0%);
    border: none;
    border-bottom: solid 2px rgb(128, 128, 128);
    margin-bottom: 5vh;
    color: rgb(159, 151, 151);
    padding-left: 1vh;
    text-shadow: 2px 2px 2px rgb(42, 41, 41);
}

option {
    background-color: rgb(66, 65, 65);
    color: rgb(186, 179, 179);
}

input::placeholder {
    color: rgb(159, 151, 151);
}

input:focus, select:focus {
    outline: none;
    color: rgb(159, 151, 151);
}


form {
    width: 50vh;
}

.btn-primary {
    width: 15vh;
    border-radius: 3px;
    border: none;
}

a {
    color: rgb(159, 151, 151);
    text-shadow: 2px 2px 2px rgb(42, 41, 41);
}

.container-a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background: #1b1b1b !important;
    color: #ccc;
    padding: 40px 0;
    text-align: center;
    margin-top: auto;
}
